<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.uit.jrfsit">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".activity.SearchJobActivity"
            android:label="@string/title_activity_danh_sach_cong_viec"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailJobActivity"
            android:label="Công việc"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Demo"
            android:label="Công việc"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.ResultJobSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_search_result" >
        </activity>
        <activity
            android:name=".activity.RecommendJobActivity"
            android:label="@string/title_activity_job_recommend" >
        </activity>
        <activity
            android:name=".activity.SaveJobActivity"
            android:label="@string/title_activity_job_like" >
        </activity>
        <activity
            android:name=".activity.ProfileUserActivity"
            android:label="@string/title_activity_job_profile" >
        </activity>
        <activity
            android:name=".activity.AddSkillActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:label="@string/title_activity_job_skill" >
        </activity>
        <!--<activity
            android:name=".activity.EditListSkillActivity"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog"
            android:label="@string/title_activity_job_edit_skill" >
        </activity>-->
        <activity
            android:name=".activity.EditSkillActivity"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog"
            android:label="@string/title_activity_job_edit_profile" >
        </activity>
        <activity
            android:name=".activity.EditUserProfileActivity"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog"
            android:label="@string/title_activity_job_edit_profile" >
        </activity>
        <activity
            android:name=".activity.EditUserExpectActivity"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog"
            android:label="@string/title_activity_job_edit_ex" >
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_job_edit_skill" >
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
