<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.uit.jrfsit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>

    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name="vn.edu.uit.jrfsit.activity.MainActivity"
            android:label="@string/title_activity_main">
            </activity>
        <receiver android:name=".alarms.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver android:name=".alarms.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="vn.edu.uit.jrfsit.activity.DetailJobActivity"
            android:label="Công việc" />
        <activity
            android:name="vn.edu.uit.jrfsit.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.edu.uit.jrfsit.activity.ResultJobSearchActivity"
            android:label="@string/title_activity_search_result"/>
        <activity
            android:name="vn.edu.uit.jrfsit.activity.AddSkillActivity"
            android:label="@string/title_activity_job_skill"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="vn.edu.uit.jrfsit.activity.ForgotPassActivity"
            android:label="@string/title_activity_forgot_pass"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="vn.edu.uit.jrfsit.activity.EditSkillActivity"
            android:label="@string/title_activity_job_edit_profile"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="vn.edu.uit.jrfsit.activity.EditUserProfileActivity"
            android:label="@string/title_activity_job_edit_profile"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="vn.edu.uit.jrfsit.activity.EditUserExpectActivity"
            android:label="@string/title_activity_job_edit_ex"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="vn.edu.uit.jrfsit.activity.ChangePassActivity"
            android:label="@string/title_activity_change_pass"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="vn.edu.uit.jrfsit.activity.RegisterUserActivity"
            android:label="@string/title_activity_register"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
